/* write your override styles here */
.new-class {
    color: blue;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .new-class {
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
  }
  a:hover {
    background-color: yellow;
    text-decoration: underline;
  }
  @media (max-width: 600px) {
    body {
      font-size: 16px;
    }
  }